@page "/"

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

@code{
    [CascadingParameter] public IModalService Modal { get; set; }

    void ShowModal() => Modal.Show<InfoWindow>("Welcome to Blazored Modal");
}