
@{
    ViewData["Title"] = "NowMap";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dron map 2</title>
    @*vworld 링크*@
    @*<script type="text/javascript" src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=B4DB6C25-ADD1-3B61-AED5-934A7F0E07BF&domain=localhost:44347"></script>*@
    <script type="text/javascript" src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=A9D1DC9E-7277-30E0-9369-2B6A3D2D55AF&domain=localhost:44347"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>*@        
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    @*<script type="text/javascript" src="~/js/BaseFunction.js"></script>
        <script type="text/javascript" src="~/js/DronObject.js"></script>*@
</head>
    <body>
        @*<div id="vmap" style="height:100%; float:right; width:100% ">
            <button id="mapmode1" type="button" class="mapBtn btn btn-default">일반지도</button>
            <button id="mapmode2" type="button" class="mapBtn btn btn-default">야간모드</button>
            <button id="mapmode3" type="button" class="mapBtn btn btn-default">항공지도</button>
            <button id="mapmode4" type="button" class="mapBtn btn btn-default">하이브리드</button>
        </div>*@

        @*<script type="text/javascript">
            //지도 생성
            vw.ol3.CameraPosition.center = [14176994.56431106, 4354866.236842043]; //넷커스터마이즈 위치
            vw.ol3.CameraPosition.zoom = 19; //줌레벨 설정

            vw.ol3.MapOptions = {
                basemapType: vw.ol3.BasemapType.GRAPHIC
                , controlDensity: vw.ol3.DensityType.FULL //툴바 설정(전체 ON)
                , interactionDensity: vw.ol3.DensityType.BASIC
                , controlsAutoArrange: true
                , homePosition: vw.ol3.CameraPosition
                , initPosition: vw.ol3.CameraPosition
            };

            vmap = new vw.ol3.Map("vmap", vw.ol3.MapOptions);       

        </script>*@



    </body>
</html>
