@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using MiniDron.Controllers;

<style>

</style>
<!DOCTYPE html>     
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>eeee</title>
    @*<script type="text/javascript" src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=B4DB6C25-ADD1-3B61-AED5-934A7F0E07BF&domain=localhost:8080"></script>*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>*@
    <script type="text/javascript" src="~/js/DronObject.js"></script>
</head>
<body>
    <style type="text/css">
        .buttons {
            position: relative;
            top: 30px;
        }

        .mapBtn {
            position: relative;
            top: 110px;
            left: 10px;
            z-index: 1000;
        }

        .checkbox-xl {
            position: relative;
            top: 120px;
            left: 70px;
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 87px;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 0px;
        }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
    </style>
    <div id="mySidebar" class="sidebar" style="height:100%; float:left; width:13%">
        @*지도 사이드 바 메뉴*@
        <div class="accordion" id="Sidebar">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            드론 보기 설정
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#Sidebar">
                    <div class="card-body">
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">드론 전체 감추기</label><br />
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">미허가</label><br />
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">미식별</label><br />
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">식별ID유효성 이상</label><br />
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">비행금지 위반</label><br />
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            식별기 보기 설정
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Sidebar">
                    <div class="card-body">
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">식별기 전체 감추기</label><br />
                        <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">상태 이상</label><br />
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            비행금지구역 보기 설정
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#Sidebar">
                    <div class="card-body">
                        <input type="checkbox" class="form-check-input" id="lt_c_aisprhc" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisprhc" style="color:red; margin-left:30px;">비행금지구역</label><br />
                        <input type="checkbox" class="form-check-input" id="lt_c_aisctrc" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisctrc" style="color:orange; margin-left:30px;"> 관제권</label><br />
                        <input type="checkbox" class="form-check-input" id="lt_c_aisresc" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisresc" style="color:orangered; margin-left:30px;"> 비행제한구역</label><br />
                        <input type="checkbox" class="form-check-input" id="lt_c_aisdngc" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aisdngc" style="color:purple; margin-left:30px;"> 위험구역    25kg↑</label><br />
                        <input type="checkbox" class="form-check-input" id="lt_c_aismoac" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aismoac" style="color:olive; margin-left:30px;"> 군작전구역    25kg↑</label><br />
                        <input type="checkbox" class="form-check-input" id="lt_c_aiscatc" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aiscatc" style="color:blue; margin-left:30px;"> 훈련구역    25kg↑</label><br />
                        <input type="checkbox" class="form-check-input" id="lt_c_aistmac" style="margin-left:10px;">
                        <label class="form-check-label" for="lt_c_aistmac" style="color:brown; margin-left:30px;"> 접근관제구역 25kg↑</label>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                보기 설정
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#Sidebar">
                        <div class="card-body">
                            <input type="checkbox" class="form-check-input" id="adsigg" style="margin-left:10px;">
                            <label class="form-check-label" for="adsigg" style="color:black; margin-left:30px;">시군구 경계</label><br />
                            <input type="checkbox" class="form-check-input" id="ademd" style="margin-left:10px;">
                            <label class="form-check-label" for="ademd" style="color:black; margin-left:30px;">읍면동 경계</label><br />
                            <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                            <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px;">드론 방향</label><br />
                            <input type="checkbox" class="form-check-input" id="temp" style="margin-left:10px;">
                            <label class="form-check-label" for="lt_c_aisprhc" style="color:black; margin-left:30px; ">드론 경로</label><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 임시 버튼 영역 *@
        <div class="buttons">
            <button id="position" type="button" class="btn btn-light btn-lg btn-block">  내 위치 </button>
            <button id="addAntenna" type="button" class="btn btn-light btn-lg btn-block"> 수신기 추가</button>
            <button id="addDron" type="button" class="btn btn-light btn-lg btn-block"> 드론 추가 </button>
            <button id="delDron" type="button" class="btn btn-light btn-lg btn-block"> 드론 제거 </button>
            <button id="dispRoute" type="button" class="btn btn-light btn-lg btn-block"> 경로 선 표시 </button>
            <button id="dispDotRoute" type="button" class="btn btn-light btn-lg btn-block"> 경로 점 표시</button>
            <button id="FL" type="button" class="btn btn-light btn-block btn-lg">제한구역 보기</button>
            <button id="tempbtn" type="button" class="btn btn-light btn-lg btn-block"> 임시 버튼 </button>

        </div>
    </div>

    <!--지도가 들어갈 영역-->
    <div id="vmap" style="position:relative; height:830px; float:right; width:87%; transition: 0.5s; ">
        @* transition slide 기능  *@

        <div style="height:38px;">

            <form id="searchForm" action="#" class="form_data" onsubmit="return false;search();">
                <button class="btn-primary" onclick="toggleNav()">☰</button>
                <input type="hidden" id="sido_key" value="12685d425f1af0872d756c" />
                <input type="hidden" id="sigoon_key" value="b0888bae39fbd0463a9252" />
                <input type="hidden" id="dong_key" value="91afccaa8d7f499151ee3b" />
                <input type="hidden" name="apiKey" value="D36C2F4C-D5D4-3214-8304-E094FCA2F56D" />
                <select id="sido_code">
                    <option>선택</option>
                </select>
                <select id="sigoon_code">
                    <option>선택</option>
                </select>
                <select id="dong_code">
                    <option>선택</option>
                </select>
            </form>
        </div>
        <button id="mapmode1" type="button" class="mapBtn btn btn-light active" style="position:absolute; margin-top:-100px; margin-left:400px; ">일반지도</button>
        <button id="mapmode2" type="button" class="mapBtn btn btn-light" style="position:absolute; margin-top:-100px; margin-left:480px;">야간모드</button>
        <button id="mapmode3" type="button" class="mapBtn btn btn-light" style="position:absolute; margin-top:-100px; margin-left:560px;">항공지도</button>
        <button id="mapmode4" type="button" class="mapBtn btn btn-light" style="position:absolute; margin-top:-100px; margin-left:640px;">하이브리드</button>
    </div>

    <form id="dataForm">
        <input type="hidden" name="key" value="D36C2F4C-D5D4-3214-8304-E094FCA2F56D">
        <input type="hidden" name="domain" value="http://localhost:8080">
        <input type="hidden" name="service" value="data">
        <input type="hidden" name="version" value="2.0">
        <input type="hidden" name="request" value="getfeature">
        <input type="hidden" name="format" value="json">
        <input type="hidden" name="size" value="10">
        <input type="hidden" name="page" value="1">
        <!-- <input type="hidden" name="data" value="LT_C_ADSIDO_INFO"> -->
        <input type="hidden" name="data" value="LT_C_ADEMD_INFO">
        <input type="hidden" name="geometry" value="true">
        <input type="hidden" name="attribute" value="true">
        <input type="hidden" name="crs" value="EPSG:900913">
    </form>

    <script type="text/javascript">

        //지도 생성
        vw.ol3.CameraPosition.center = [14176994.56431106, 4354866.236842043];
        vw.ol3.CameraPosition.zoom = 19;

        vw.ol3.MapOptions = {
            basemapType: vw.ol3.BasemapType.GRAPHIC
            , controlDensity: vw.ol3.DensityType.FULL
            , interactionDensity: vw.ol3.DensityType.BASIC
            , controlsAutoArrange: true
            , homePosition: vw.ol3.CameraPosition
            , initPosition: vw.ol3.CameraPosition
        };

        vmap = new vw.ol3.Map("vmap", vw.ol3.MapOptions);

        //맵 내부 스타일 수정
        $('.vw-span').css({ position: "absolute" })
        $('.vw-toolbar').css({ position: "absolute", display: "block", marginLeft: "25px", width: "390px", height: "30px" })

        document.getElementById("mySidebar").addEventListener("transitionend", function () { vmap.updateSize() });

        //마커(드론) 추가
        $("#addDron").on("click", function (e) {

            if (dronNum == dronNumLimit) {//임의로 5개로 제한
                alert("허용 드론 수 초과");
                return;
            }

            var time = new Date().toLocaleTimeString('ko-KR', { timeStyle: 'medium', hourCycle: 'h24' });
            dronObject.push(new DronInfo(dronNum, "Dron" + dronNum, "익명", "010-xxxx-xxxx", "YES", 0, time));

            if (markerLayer == null) {//레이어가 없으면 생성함 (init)
                markerLayer = new vw.ol3.layer.Marker(vmap);
                markerLayer.set("name", "마커레이어");
            }

            var addPoint = [];
            addPoint.push(ol.proj.transform([vmap.getView().getCenter()[0], vmap.getView().getCenter()[1]], "EPSG:900913", "EPSG:4326"));//현재 지도의 중앙 좌표 콜

            vw.ol3.markerOption = {
                x: addPoint[0][0],
                y: addPoint[0][1],
                epsg: "EPSG:4326",
                title: dronObject[dronNum].name + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID',
                contents: '동 작 상 태:' + '-' + '</br>'  //여기서 콘텐츠는 구현 안해줘도 될듯
                    + '식별시작시간:' + '<span Id="dStartIdTime"></span>' +time+ '</br>'
                    + '식 별 시 간:' + '<span Id="dIdTime"></span>' + '</br>'
                    + '속       도:' + '-' + '</br>'
                    + '방       향:' + '-' + '</br>'
                    + '주       소:' + '<span Id="dAddress"></span>' + '</br>'
                    + '위도/경도:' + '<span Id="dLatLon"></span>'+ '</br>'
                    + '해 발 고 도:' + '-' + '</br>'
                    + '식별기 목록:' + '-' + '</br>'
                    + '<hr>'
                    + '<button type="button" class="btn btn-primary" id="dronInfoPop" onclick="tempfunc()";>드론정보</button>' + '&nbsp&nbsp'                   
                    + '<button type="button" class="btn btn-primary" id="dronMasPop" >소유자</button>' + '</br>'
                    + '<button type="button" class="btn btn-primary" id="dronAccPop">허가정보</button>' + '&nbsp&nbsp'                   
                    + '<button type="button" class="btn btn-primary" id="dronStatusPop">상태로그</button>',
                iconUrl: '../images/dronImg2.png',
            }; //마커 옵션 설정

            dronObject.popInfo = markerLayer.addMarker(vw.ol3.markerOption);// 마커를 레이어에 등록
            dronObject.popInfo.set("id", "Marker-" + dronNum); // 마커 팝업레이어 ID 등록

            if (vmap.getLayerByName("마커레이어") == null)//하나의 레이어에 추가
            {
                markerLayer.setZIndex(10); // 이동 경로보다 마커가 위에오도록함
                vmap.addLayer(markerLayer) //마커를 vmap에 등록
            }

            dronObject[dronNum].createRoute();
            dronObject[dronNum].startPause();//가상 전시 타이머 + 주행시간 타이머

            dronNum = plusTargetNum(dronNum);
        })

        
        //드론 삭제
        $("#delDron").on("click", function (e) {
            e.preventDefault();

            if (dronNum == 0) {
                alert("드론이 없습니다.");
                return;
            }
            dronNum = minusTargetNum(dronNum);

            var DronFeatures = markerLayer.getSource().getFeatures();

            for (var i = 0; i < dronNum + 1; i++) {
                if (DronFeatures[i].get('id') == ("Marker-" + dronNum))
                    markerLayer.removeMarker(DronFeatures[i]);
            }



            //vmap.getLayers().getArray().filter(vectorLayer => vectorLayer.get('name') === '경로레이어' + dronNum).forEach(vectorLayer => vmap.removeLayer(vectorLayer));
            dronObject[dronNum].startPause(); //드론 비행시간 종료

            dronObject.pop(); //드론객체를 스택형식으로 사용하지만 추후에 선택된 드론으로 변경할지 검토
        });


    </script>

    <div id="modal-placeholder"></div>    
    
</body>
</html >
