@{    
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <div class="container" style="margin-top:10px; text-align:center">
        <label>사용자 ID</label>
        <input type="text" placeholder="사용자 ID 입력" />
        <label>비밀번호</label>
        <input type="password" placeholder="비밀번호 입력" />
        <button type="submit" class="btn btn-success">로그인</button>
    </div>

    <div class="container" style="margin-top:10px;width:600px; height:400px;border:1px solid gray;">
        design
    </div>

    <div class="container" style="margin-top:10px; text-align:center">
        <a asp-area="" asp-controller="NowDron" asp-action="NowMap" class="btn-lg btn-primary mr-5">운용 현황</a>
        <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn-lg btn-primary mr-5">이력 조회</a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn-lg btn-primary mr-5">통계 조회</a>
    </div>
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</body>


