@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model) // return view(list)에서 list가 model이 된다.
        {
            <tr>
                <td>@note.NoteNo</td>
                <td>@note.NoteTitle</td>
                <td>@note.UserNo</td>
            </tr>
        }

    </tbody>
</table>

<a class="btn btn-warning" asp-controller="Note" asp-action="Add">게시물 작성</a>
<a class="btn btn-warning" asp-controller="Note" asp-action="Edit">게시물 수정</a>
<a class="btn btn-warning" asp-controller="Note" asp-action="Delete">게시물 삭제</a>